<div class="container">
  <div class="row"><h1 class="title col s12 center-align">Crie uma conta para usar GAMELIST</h1></div>
  <div class="form-div indigo lighten-4">
    <div class="row">
      <h2 class="col s10">CRIAR CONTA.</h2>
      <h3 class="col s2 right-align red lighten-1">NOVO NO SITE?</h3>
    </div>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class=" col s6">
            <label for="username">Nome de usuário</label><br>
            <input id="username" type="text" class="validate">
          </div>
          <div class=" col s6">
            <label for="email">E-mail</label><br>
            <input id="email" type="email" class="validate">
          </div>
        </div>
        <div class="row">
          <div class=" col s6">
            <label for="password">Senha</label><br>
            <input id="password" type="password" class="validate">
          </div>
          <div class=" col s6">
            <label for="repeat-password">Repetir senha</label><br>
            <input id="repeat-password" type="password" class="validate">
          </div>
        </div>
        <button class="btn waves-effect waves-light indigo darken-4 col12" type="submit" name="action">Criar conta</button>
      </form>
    </div>
  </div>
  <h2>OU, SE JÁ POSSUI UMA CONTA...</h2>
  <a routerLink="../login"><h1 class="sign-in-link">FAÇA LOGIN</h1></a>
</div>

