.my-logo {
  margin-top: 0.4em;
  margin-left: 0.4em;
  height: 2.5rem;
}

input[type="text"] {
  background-color: white;
  border-radius: 0.3rem 0 0rem 0.3rem;
  padding-left: 0.5rem;
}

form > div > button {
  margin-top: 0.5rem;
  height: 3rem;
  border-radius: 0 0.3rem 0.3rem 0;
  line-height: 0;
  color: #20247c;
  font-weight: bold;
}

.account-button {
  font-weight: b;
}
