<div class="page-footer indigo darken-4">
  <div class="container">
    <div class="center">
      <div class="row">
        <p class="col s6 right-align">Nos siga nas redes sociais:</p>
        <img class="col s2" src="assets/resources/images/twitter.png">
        <img class="col s2" src="assets/resources/images/facebook.png">
        <img class="col s2" src="assets/resources/images/instagram.png">
      </div>
      <div>
        <a class="brand-logo">
          <img height="40rem" src="assets/resources/images/logo.png">
        </a>
        <div>
          <p>© {{ this.year }} Gamelist.com, Inc.</p>
        </div>
      </div>
    </div>
  </div>
</div>
